* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.profile-picture {
  height: 70px;
}

.main-header {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.bg-navbar {
  height: 80px;
  background-color: #6f4aac;
}

a , a:link, a:active, a:hover  {
  color: white;
}

li {
	list-style: none;
  margin: 0px;
  padding: 0px;
}

.dropdown-menu.columns-3 {
  min-width: 600px;
  background-color: #6f4aac;
}

.dropdown-item {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: white;
}

.post-feed {
  background-color: rgb(238, 238, 238);
  width: 80vw;
  padding: 2vw;
  margin: 10px auto;
}

#post-btn {
  background-color: #6f4aac;
}

@media screen and (max-width: 576px) {
 .menu-title {
   display: none;
 }

 .post-feed {
  width: 100vw;
}

}