* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.profile-picture {
  height: 70px;
}

.main-header {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

li {
	list-style: none;
  margin: 0px;
  padding: 0px;
}

.dropdown-menu.columns-3 {
	min-width: 600px;
}

@media screen and (max-width: 570px) {
 .menu-title {
   display: none;
 }

 .dropdown-menu.multi-column {
  min-width: 240px !important;
  overflow-x: hidden;
}
}