* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.profile-picture {
  height: 70px;
}

.main-header {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  height: 80px;
  background-color: #6f4aac;
}

.bg-navbar {
  height: 80px;
  background-color: #6f4aac;
}

a , a:link, a:active, a:hover  {
  color: white;
}

li {
	list-style: none;
  margin: 0px;
  padding: 0px;
}

.dropdown-menu.columns-3 {
  min-width: 600px;
  background-color: #6f4aac;
}

.dropdown-item {
  font-size: 1.2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  color: white;
}

.post-feed {
  background-color: rgb(238, 238, 238);
  width: 80vw;
  padding: 2vw;
  margin: 10px auto;
  border-radius: 10px;
  border-bottom: 1px solid #6f4aac;
}

.p-message {
  margin-top: 20px;
}

#post-btn, #delete-post {
  background-color: #6f4aac;
}

.p-message {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.likes-counter {
  font-size: 12px;
}

.like-number {
  font-weight: bold;
}

.icon-pencil, .delete-btn, #like-btn {
  cursor: pointer;
}

.like-post {
  color: #ffd106;
}

.unlike-post {
  color: #6f4aac;
}

#body-container {
  min-height: 70vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #6f4aac;
}

.logo {
  height: 50px;
}

.copyright {
  color: white;
  margin-top: 10px;
  font-size: 14px;
}

.powered {
  color: white;
  margin-top: 30px;
  font-size: 14px;
}

.modal-open {
  overflow: scroll;
}

@media screen and (max-width: 576px) {
 .menu-title {
   display: none;
 }

 .profile-picture {
  height: 40px;
}

.bg-navbar {
  height: 50px;
}

.main-header {
  height:50px;
}

 .post-feed {
  width: 100vw;
}

.footer {
  display: none;
}

}